<!-- Cover -->
<div id="cover">
  <%= render "cover" %>
</div>

<!-- About -->
<div class="about" id="about">
  <%= render "about" %>
</div>

<!-- Portfolio -->
<div class="portfolio" id="portfolio">
  <%= render "portfolio" %>
</div>

<!-- Contact -->
<div class="contact" id="contact">
  <div class="contact-text">
    <!-- Contact: Desktop -->
    <div class="contact-one half hidden-xs">
      <%= render "contact" %>
    </div>
    <div class="contact-two half hidden-xs">
      <%= render "messages/form", message: @message %>
    </div>
    <!-- Contact: Mobile -->
    <div class="hidden-sm hidden-md hidden-lg">
      <%= render "messages/form", message: @message %>
    </div>
  </div>
</div>
