<!-- Cover -->
<div class="cover" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path 'cover.jpg' %>)">
  <%= render "cover" %>
</div>

<!-- About -->
<div class="about">
  <%= render "about" %>
</div>

<!-- Portfolio -->
<div class="portfolio">
  <%= render "portfolio" %>
</div>

<!-- Contact -->
<div class="contact">
  <div class="contact-text">
    <!-- Contact: Desktop -->
    <div class="contact-one half hidden-xs">
      <%= render "contact" %>
    </div>
    <div class="contact-two half hidden-xs">
      <%= render "messages/form", message: @message %>
    </div>
    <!-- Contact: Mobile -->
    <div class="contact-two hidden-sm hidden-md hidden-lg">
      <%= render "messages/form", message: @message %>
    </div>
  </div>
</div>
