<!-- Cover -->
<div class="cover" id="picture" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path 'cover.jpg' %>)">
  <%= render "cover" %>
</div>

<!-- About -->
<div class="about">
  <%= render "about" %>
</div>

<!-- Portfolio -->
<div class="portfolio">
  <%= render "portfolio" %>
</div>

<!-- Contact -->
<div class="contact">
  <div class="contact-text">
    <!-- Contact: Desktop -->
    <div class="contact-one half hidden-xs">
      <%= render "contact" %>
    </div>
    <div class="contact-two half hidden-xs">
      <%= render "messages/form", message: @message %>
    </div>
    <!-- Contact: Mobile -->
    <div class="hidden-sm hidden-md hidden-lg">
      <%= render "messages/form", message: @message %>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    var scrollscroll = document.getElementById("picture");
    var winH = $(window).height();

    $(window).on("scroll", function() {
      if ($(this).scrollTop() > winH) {
        scrollscroll.addClass("sticky");
      } else {
        $(scrollscroll).removeClass("sticky")
      }
    });
  </script>
<% end %>
